<p>Employee List</p>
<ul *ngFor="let employee of employees">
    <li>id: {{employee.id}} Name: {{employee.name}} Age: <span *ngIf="employee.age >= 18">adualt</span> {{employee.age}}</li>
  </ul>

  <p>Students List</p>
<ul *ngFor="let student of students">
    <li>id: {{student.id}} Name: {{student.name}} Age: <span *ngIf="student.age >= 18">adualt</span> {{student.age}}</li>
  </ul>