<ul style="display: inline;">
    <li><a routerLink="" routerActive="active">Home</a></li>
    <li><a routerLink="/about" routerActive="active">About Us</a></li>
    <li><a routerLink="/service" routerActive="active">Service</a></li>
  </ul>
<h1>Hello I am App Component</h1>
<router-outlet></router-outlet>

<!---
<app-test></app-test> 
<app-employee></app-employee>
<app-test></app-test>-->

