<h2>This is Test Module and {{name}}</h2>
<h2>Uppercse {{name.toUpperCase()}}</h2>
<h2>Length {{name.length}}</h2>
<h3 [class]="successText">Class Binding</h3>
<h1 [class.text-danger]="hasError">Conditional Class Binding</h1>
<h2 [ngClass]="multiClass">Hello multiple class</h2>
<h3 [style.color]="hasError?'red':'green'">Hello I am Style BInding</h3>

<button (click)="showMessage(event)">Click Me !!</button>
{{message}}
<input [(ngModel)]="nameK" type="text">
{{nameK}}

<h3 *ngIf="displayName; else elseBlock">Hello NG IF</h3>
<ng-template #elseBlock>
    <h3>Hello I am NG else block</h3>
</ng-template>

<br/>
<div *ngIf="displayName2; then thenBlock; else else2Block"></div>
<ng-template #thenBlock>
    <h6>Hello I am then Block</h6>
</ng-template>
<ng-template #else2Block>
    <h6>Hello I am Else Block</h6>
</ng-template>

<br/>
<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">
        Your Color is Red
    </div>
    <div *ngSwitchCase="'green'">
        Your Color is blue
    </div>
    <div *ngSwitchCase="'blue'">
        Your Color is blue
    </div>
    <div *ngSwitchDefault>
       Please Pick Again(Default Switch)
    </div>
</div>
<br/>
<h4>Ng For Directive</h4>
<div *ngFor="let color of colors; index as i; last as last; first as first; odd as o; even as e">
    <h2>{{+i}}.<span *ngIf="first">First</span> <span *ngIf="last">Last </span> <span *ngIf="o"> Odd</span> <span *ngIf="e">Even</span> {{color}}</h2>
</div>

<h3>Angular Pipes</h3>
<h2>Lowercase: {{name|lowercase}} - Uppercase: {{name|uppercase}} - TitleCase: {{name|titlecase}} - Json: {{name|json}}</h2>
<h2>Number: {{95.675|number:'5.5-5'}}</h2>
<h2>Percent: {{0.10|percent}}</h2>
<h2>Currency: {{0.10|currency}} | {{0.10|currency:'GBP'}} | {{0.10|currency:'GBP ':'code'}}</h2>

<h2>Date format: {{today}} | Short: {{today | date:'short'}}  | Long: {{today | date:'long'}}</h2>


<hr/>
<p>New List</p>
<ul *ngFor="let employee of employees">
    <li>id: {{employee.id}} Name: {{employee.name}} Age: <span *ngIf="employee.age >= 18">adualt</span> {{employee.age}}</li>
  </ul>

  <p>Students List</p>
<ul *ngFor="let student of students">
    <li>id: {{student.id}} Name: {{student.name}} Age: <span *ngIf="student.age >= 18">adualt</span> {{student.age}}</li>
  </ul>